<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="../css/table.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/get-add">Add Users</a>
    </div>
    <div class="content-table">
      <h2>Lists Users</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <% listUsers.forEach((user)=>{%>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.city %></td>
          <td>
            <a href="/get-edit/<%= user.id %>">Edit</a>
            <a href="#delete/<%= user.id %>">Delete</a>
          </td>
        </tr>
        <%}) %>
      </table>
    </div>
  </body>
</html>
